* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html,body{
    width: 100%;
    height: 100%;
  }
  
  .main{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: Koulen; 
    font-weight: 400; 
  
  }
  
  
  .nav-home{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
  
  }
  
  
  .nav-icon{
    display: flex;
    align-items: center;
  }
  
  .nav-icon img{
    height: 3vw;
    width: 3vw;
  }
  
  .nav-icon2 img{
    display: none;
  }
  
  .nav-home ul{
    gap: 10vw;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .nav-home ul li a{
  
    font-size: 1.3vw;
    color: #fff;
  }
  
  .btn-home{
    gap: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  
  }
  
  .btn-home button{
    border-radius: 6px;
    height: 2.4vw;
    width: 5vw;
    
    background: #C9C9C9;
  
    color: #000;
    font-family: inherit;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: inherit;
    line-height: 24px; 
    cursor: pointer;
  }
  
  .nav-home i{
    color: black;
    font-size: 2.2vw;
    display: none;
  }
  
  .content-home{
    height: calc(100% - 100px);
    width: 100%;
    padding-top: 10rem;
    /* background-color: rgb(213, 156, 87); */
    position: relative;
    display: flex;
  }
  
  .left{
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
    /* background-color: red; */
  }
  
  .left img{
    height: 23.5vw;
    width: 12.4vw;
  }
  
  .middle{
    height: 100%;
    width: 70vw;
    /* background-color: #fff; */
    padding: 3vw 4vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* z-index: 1; */
  }
  
  .middle h1{
    font-size: 2.7vw;
    margin-bottom: 2vw;
    text-align: center;
    font-weight: inherit; 
  }
  
  .middle h2{
    font-size: 2vw;
    color: #616161; 
    margin-bottom: 5vw;
    text-align: center;
    
  
  
  
    font-weight: inherit;
    line-height: 3vw; /* 125% */
  
  }
  
  .highlight{
    color: #000;
    font-size: 2.6vw;
    text-align: center;
    line-height: 1vw;
    font-style: normal;
    font-weight: inherit;
  
  }
  
  .middle button{
    font-family: inherit;
    font-size: 1.2vw;
    color: #fff;
    background-color: black;
    height: 3vw;
    width: 11vw;
    border-radius: 6px;
    cursor: pointer;
    
  }
  
  .right{
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: right;
    /* background-color: rebeccapurple; */
  }
  
  .right img{
    height: 23.5vw;
    width: 12.4vw;
  }
  
  @media only screen and (max-width:1370px) {
    .nav-home{
        height: 7vw; 
    }
  
  }
  
  @media only screen and (max-width:1070px) {
    .btn-home button{
        height: 2.7vw;
        width: 5vw;
    }
  
  }
  
  @media only screen and (max-width:1578px) {
    .nav-home ul li a{
        font-size: 1.6vw;
    }
  
  }
  
  @media only screen and (max-width:955px) {
    .nav-home ul{
        display: none;
    }
    .btn-home{
        display: none;
    }
  
    .nav-home i{
        display: block;
        color: #fff;
        font-size: 3vw;
    }
  
  
  }
  
  @media only screen and (max-width:428px) {
    .nav-home{
        background-color: #fff;
  
    }
  
    .nav-icon{
        display: none;
    }
  
    .nav-icon2 img{
        display: block;
        height: 20w;
        width: 20vw;
        margin-bottom: 3vw;
    }
    .middle h1{
        font-size: 9vw;
        margin-bottom: 4vw;
        text-align: center;
        font-weight: inherit; 
        line-height: 10vw;
    }
    
    .middle h2{
        font-size: 6vw;
        color: #616161; 
        margin-bottom: 5vw;
        text-align: center;
        
    
    
    
        font-weight: inherit;
        line-height: 7vw; /* 125% */
    
    }
  
    .highlight{
   
        font-size: 8vw;
        text-align: center;
        line-height: 1vw;
  
    
    }
  
  
    .left img{
        display: none;
  
    }
  
    .right img{
        display: none;
    }
    
    .middle button{
  
        font-size: 5vw;
        height: 15vw;
        width: 45vw;
        
    }
  
    .nav-home{
        display: flex;
        justify-content: right;
    }
  
    .nav-home i{
        color: black;
        margin-top: 6vw;
        margin-right: 2.2vw;
        font-size: 7vw;
        display: block;
  
    }
    
  
  }